html{
    background-image: url(img/sky404.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    text-align: center;
}
#text{
    color: white;
    font-size: 150px;
    font-weight: bold;
    margin-bottom: 0;
}
#text2{
    color: white;
    font-size: 20px;
}
button{
    background-color: white;
    color: blue;
    border: none;
    width: 250px;
    height: 60px;
    margin-top: 2%;
}
button:hover{
    background-color:blue ;
    color: white;
}